.section {
  background-image: url('./images/rock2.jpg');
  text-align: center;
}

.greeting {
  padding: 10px;
  font-weight: 700;
  font-size: 30px;
  font-style: italic;
  color: red;
}

.task-list {
  width: 50%;
  padding: 10px;
  text-align: left;
}

.task-item {
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.task-item:hover,
.task-item:focus {
  transform: scale(1.01);
}

.task-link {
  display: flex;
  align-items: center;
  padding: 5px;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: darkblue;
}

.task-link > h4 {
  flex-grow: 1;
  font: inherit;
}

.days {
  color: rgb(211, 9, 204);
}

.task-link > img {
  width: 100px;
}

.wesbos-box {
  width: 250px;
  position: absolute;
  top: 10px;
  right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid blue;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1);

  transition: transform 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wesbos-box:hover,
.wesbos-box :focus {
  transform: scale(1.01);
}
